[Definition]
failregex = ^<HOST> - .* "(?:GET|POST|HEAD|OPTIONS) /(?:[^/? ]+/)*(?:\.env(?:[./? ]|$)|\.git(?:[/? ]|$)|\.git-credentials(?:[/? ]|$)|actuator(?:[/? ]|$)|wp-login\.php(?:[? ]|$)|xmlrpc\.php(?:[? ]|$)|phpmyadmin(?:[/? ]|$)|vendor/phpunit(?:[/? ]|$)|cgi-bin(?:[/? ]|$)).*" [0-9]{3} .*$
ignoreregex =
