.rulesHero {
  padding: 80px 0 50px;
  background: #f7f4ec;
  color: #074462;
}

.rulesHero__inner {
  margin: 0 auto;
  display: block;
  gap: 70px;
  align-items: center;
  text-align: center;
}
.rulesHero__image {
  width: 100%;
  max-height: 280px;
  object-fit: contain;
}


.rulesHero h1 {
  font-family: "Merriweather", serif;
  font-size: 48px;
  margin-bottom: 18px;
}

.rulesHero p {
  font-size: 28px;
  line-height: 1.5;
}

@media (max-width: 850px) {
  .rulesHero__inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .rulesHero__image {
    max-width: 260px;
    margin: 0 auto;
  }
}
